<script src="app.js"></script>


<a class="nav-link" href="/scrape">Run scrape</a>
<a class="nav-link" href="/notes">See your notes</a>
<br>
<a class="nav-link" href="#" id="clear">Clear all Articles</a>
<br>
<h3>Click on any article to make a note</h3>
<br>
<div id="articles"></div>
<div id="notes"></div>